<div class='addrecipe-container'>
  <h1>Step 1. Add Recipe Name and Description:</h1>
  <form id='addrecipe-form'>
    <input type='text' id='add-recipe-name' placeholder='Recipe Name' />
    <input type='text' id='add-recipe-desc' placeholder='Recipe Description' />
    <button id='submitRecipe' type='submit'>Add Recipe</button>
  </form>
</div>
<div class='addingredients-container'>
  <h1>Step 2. Add Ingredients:</h1>
  <form id='addIngredient-form'>
    <input type='text' id='add-ingredient' placeholder='Ingredient Name' />Ingredient Name' />
    <input type='email' id='email-signup' placeholder='Quantity' />
    <input type='password' id='password-signup' placeholder='Unit' />
    <button id='submitIngredientbtn' type='submit'>Add Ingredient</button>
  </form>
  <button id = 'submitFinal'type= 'submit'>Submit Final Recipe</button>
</div>
<script src='../public/js/login.js'></script>
