{{!-- Placeholder/Insert for the main page content with loggedIn validation included --}}

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='/css/style.css'
    />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' />
    <title>H O N G R Y</title>
    <link rel="shortcut icon" type="image/png" href="css/images/logos/Hongry (1).png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class='header-z-index'>
    <h1 id='header-logo'>H O N G R Y</h1>
    <nav >
      <ul >
        <li>
          <a class='navItem' href='/'>Home</a>
        </li>
        {{#if session.loggedIn}}
        <li>
          <a class='navItem' href ='/viewrecipes'>View Recipes</a>
        </li>
        <li>
          <a class='navItem' href ='/addrecipes'>Post a Recipe</a>
        </li>
        <li>
          <a class='navItem' id="logout" href ='/api/users/logout'>Logout</a>
        </li>
        {{else}}
        <li>
          <a class='navItem' href='/login'>Login</a>
        </li>
          
        {{/if}}

      </ul>

    </nav>
    {{! Empty element to be used with space between to fill~}}
    <div id='blank'></div>
  </header>

        {{{body}}}
        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
        <!--fo0ter-->

  </body>
</html>
