<div class='wrapper'>
  
      <!--old Bar-->
    {{!-- <header>
      <h1 class="title">
          <a href="/">H O N G R Y</a>
          <script src='/public/js/logout.js'></script>
      </h1>
      <nav>
           <ul>
               <li>
                   <a href="#About">About Us</a>
                </li> 
                <li>
                    <a href="#Recipes">Recipes</a>
                 </li>
                 <li>
                    <a href="#Testimonials">Testimonials</a>
                 </li>
                 <li>
                    <a href="#Contact">Contact Us</a>
                 </li>
                 
                 {{#if loggedIn}}
                <li>
                  <a href='/dashboard'>Dashboard</a>
                    <a href='/logout'>Logout</a>
                </li>   
                   {{else}}
                   <li>
                    <a class=red href="/login">Log In</a>
                 </li>
                 {{/if}}
        </ul>   
      </nav>
    </header> --}}
        <!--Hero Start--> 
    <div class='mb-4 p-5 jumbo-hero d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/logos/Hongry (1).png" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center"><span class='fs-1'>Welcome</span></p>
          <p class="text-center">We are H O N G R Y! Taking your basic ingredients
                from home and creating scrumptious meals for you to work with what you got!
                Simply insert your ingredients and we will spit out a recipe you can make with them!</p>
        </div>
      </div>
    </div> 

      <!--About Section-->
       <div class='mb-4 container border border-warning border-5 rounded-pill'>
        <div class='row'>
          {{!-- <div class='col-6'> --}}
    <div class='mt-5 mb-5 p-5 d-flex justify-content-center flex-column '>
      <h2 class="text-center" id="About">ABOUT US</h2>
      <p class="text-center">We are 4 passionate coders that were brought together by a class project. We came up with HONGRY after a late night session and 
        being feed up with a bunch of random ingredients and nothing to eat. We thought it would be nice to have an app were we could 
        input your ingredients and have ideas on what we could eat with it. 
      </p>
      </div>
        </div>
          
{{!-- 
            <div class='col-6'>
      <img class="w-50 justify-content-center" src="css/images/backgrounds/pepper.jpg"/>
      </div> --}}
        </div>
          </div>
       
      {{!-- <div class='mw-25'>
      </div> --}}
    </section>

<!--Sample of Recipe page-->
    {{!-- !-- <section>
      <!--Reciepe title and picture-->
      <h2 id="Recipes" class='text-center'>Recipes</h2>
      <div class='recipe-hero d-flex flex-column-reverse' style='height: 600px'>
        <div class='recipe-div1'>
          <h2 class="text-center pt-3" >Good Old Fashioned Pancakes</h2>
          <div class='d-flex d-flex justify-content-center'> --
            
            <!--Maybe in the future we can add these small details:-->
            !-- <p class='recipe-p' > PREP: 5 mins</p>
            <p class='recipe-p' >COOK: 15 mins</p>
            <p>SERVINGS: 8</p> --
          !-- </div>
        </div>
      </div>
      
      <!--a mini description about the recipe, maybe some fun facts or history-->
      !-- <p>a mini description about the recipe, maybe some fun facts or history</p> --

      <!--Ingredients-->
      <div class='container'>
        <div class='row'>
          <div class='col-6'>
            <h3>INGREDIENTS</h3>
            <p>1-<mfac>1/2</mfac> cups all purpose flour</p>
            <p>3-<mfac>1/2</mfac> teaspon baking powder</p>
            <p><mfac>1/4</mfac> teaspoon salt</p>
            <p>1-<mfac>1/4</mfac> cups milk</p>
            <p>1 egg</p>
            <p>3 tablespoons butter, melted</p>
          </div>
          <div class='col-6'>

            <!--Directions-->
            <h3>DIRECTIONS</h3>
            <p>1.     In a large bowl, sift together the flour, baking powder, salt and sugar. Make a well in the center and pour in the milk, egg and melted butter; mix until smooth. </p>
            <p>2.     Heat a lightly oiled griddle or frying pan over medium-high heat. Pour or scoop the batter onto the griddle, using approximately 1/4 cup for each pancake. Brown on both sides and serve hot.</p>
            <button >Learn More</button> <!--ideal to link to all recipes-->
          </div>
        </div>
      </div>
    </section> --
    <!--end of recipe section--> --}}

    <!--Testimonial 1-->
    <section class="test">
      <div class='container  '>
        <div class='row'>
          <div class='col order-last'>
    <div class='mt4 p-5 d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/people/abigal.jpg" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center"><span class='fs-1'>Abigal</span></p>
          <p class="text-center">"I’ve used HONGRY Recipes for a days and it’s the best decision I ever made. I’m not very tech sassy and in my opinion, this is the most sophisticated yet incredibly simple recipe plugin I’ve ever used. And the best part, 
    I can get awesome ideas based on what I have at home!"</p>
    </div>
        </div>
      </div>
    </div> 
<!--Testimonials 2-->
<div class='col'>
 <div class='mt4 p-5  d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/people/john.jpg" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center"><span class='fs-1'>John</span></p>
          <p class="text-center">Wow. I can't believe there isn't more people who know about this site! I love the options on this page! 
            The pizza is great. They also have fantastic fried chicken, ribs and sandwiches. 
            They are my "go-to" recipe site for comfort food</p>
                 </div>
      </div>
    </div> 
    </div>
<!--Testimonials 3-->
<div class='col order-first'>
<div class='mt4 p-5 d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/people/simon.jpg" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center"><span class='fs-1'>Simon</span></p>
          <p class="text-center">"Food is amazing. HONGRY rocks! A++" I have made one of the recipes and it was pretty great!
            They did an astounding job of developing this app. I would recommend to anyone who often feels the crave to cook, 
            who needs practice, and who just wants inspiration.
          </p>
        </div>
      </div>
    </div> 
    </div>
      </div>
</section>
{{!-- <footer>
    <h2>Stay Connected</h2>
    <p>Sign up for new recipeis, updates, and news about HONGRY!</p>
    <h2 id="Contact">Contact Us</h2>
    <form>
        <label for="contact-name">Your Name</label>
        <input type="text" id="contact-name" placeholder="Your Name" />
        <label for="contact-name">Your Name</label>
        <input type="text" id="contact-name" placeholder="Your Name" />
        <label for="contact-message">Message</label>
        <textarea id="contact-message" placeholder="Message"></textarea>
    
        <button type="submit">Submit</button>
      </form>
    <p>Private Policy</p>
</footer> --}}

<script src = 'js/homepage.js'></script>
