{{!-- EDIT THIS TO USE CHOSEN CSS FRAMEWORK (Or just stick it inside whatever you want) --}}
<div class='login-container'>
  <h1>Login</h1>
  <form id='login-form'>
    <input type='email' id='email-login' placeholder='Email' />
    <input type='password' id='password-login' placeholder='Password' />
    <button id='login-btn' type='submit'>Login</button>
  </form>
</div>
<hr id='loginHr' />
<div class='signup-container'>
  <h1>Sign up</h1>
  <form id='signup-form'>
    <input type='text' id='username-signup' placeholder='Username' />
    <input type='email' id='email-signup' placeholder='Email' />
    <input type='password' id='password-signup' placeholder='Password' />
    <button id='submit-btn' type='submit'>Signup</button>
  </form>
</div>
<script src='/javascript/login.js'></script>
<script src='/javascript/registeruser.js'></script>