<<<<<<< HEAD

<div class='viewrecipe-container'>
  <form id='viewRecipe-form'>
    <input type='text' id='view-recipe' placeholder='View Recipe'>
  </form>
   <a class="button" href="/viewrecipes/id">Search Recipe</a>
</div>
<script src='js/add-recipe.js' type='text/javascript'></script>
=======
<h1>Hello</h1>
{{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each recipes as |recipe|}}
    {{> recipe}}
    {{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view the paintings</a>
{{/if}}
>>>>>>> 1edf5e75ae8ae82a61d759fd73a838c9b680a060
