<nav>
      <a class='navItem' href ='/viewrecipes'>View Recipes</a>
</nav>

<div class='viewrecipe-container'>
  <form id='viewRecipe-form'>
    <input type='text' id='view-recipe' placeholder='View Recipe' /> View Recipe />
  </form>
    <button id='viewRecipebtn' type='submit'>Search Recipe</button>
</div>
<script src='js/add-recipe.js' type='text/javascript'></script>
