
<div class='viewrecipe-container'>
  <form id='viewRecipe-form'>
    <input type='text' id='view-recipe' placeholder='View Recipe'>
  </form>
   <a class="button" href="/viewrecipes/id">Search Recipe</a>
</div>
<script src='js/add-recipe.js' type='text/javascript'></script>
