  <div class='viewrecipe-container'>
  <form id='viewRecipe-form'>
    <input type='text' id='view-recipe' placeholder='Search Recipe by ID'>
    <button id ="submitSearchbtn" type="submit">Search Recipe</button>
  </form>
{{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each recipes as |recipe|}}
    {{> recipe}}
    {{/each}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view the paintings</a>
{{/if}}
