<div class='wrapper'>
</div>


        <!--Hero Start--> 
    <div class='mb-4 p-5 jumbo-hero d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/logos/Hongry (1).png" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center card-title"><span class='fs-1'>Welcome</span></p>
          <p class="text-center">We are H O N G R Y! Taking your basic ingredients
                from home and creating scrumptious meals for you to work with what you got!
                Simply insert your ingredients and we will spit out a recipe you can make with them!</p>
        </div>
      </div>
    </div> 

      <!--About Section-->
       <div class='mb-4 container border border-warning border-5 rounded-pill'>
        <div class='row'>
    <div class='mt-5 mb-5 p-5 d-flex justify-content-center flex-column '>
      <h2 class="text-center" id="About">ABOUT US</h2>
      <p class="text-center">We are 4 passionate developers that were brought together by a class project. We came up with HONGRY after a late night session and 
        being fed up with having a bunch of random ingredients and nothing to eat. We thought it would be nice to have an app where a user could 
        input their ingredients and have ideas on what they could make with them. 
      </p>
      </div>
        </div>
        </div>
          </div>
    </section>

    <!--Testimonial 1-->
    <section class="test">
      <div class='container  '>
        <div class='row'>
          <div class='col order-last'>
    <div class='mt4 p-5 d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/people/abigal.jpg" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center"><span class='fs-1'>Abigal</span></p>
          <p class="text-center">"I’ve used HONGRY Recipes for a days and it’s the best decision I ever made. I’m not very tech sassy and in my opinion, this is the most sophisticated yet incredibly simple recipe plugin I’ve ever used. And the best part, 
    I can get awesome ideas based on what I have at home!"</p>
    </div>
        </div>
      </div>
    </div> 
<!--Testimonials 2-->
<div class='col'>
 <div class='mt4 p-5  d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/people/john.jpg" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center"><span class='fs-1'>John</span></p>
          <p class="text-center">Wow. I can't believe there isn't more people who know about this site! I love the options on this page! 
            The pizza is great. They also have fantastic fried chicken, ribs and sandwiches. 
            They are my "go-to" recipe site for comfort food</p>
                 </div>
      </div>
    </div> 
    </div>
<!--Testimonials 3-->
<div class='col order-first'>
<div class='mt4 p-5 d-flex justify-content-center'>
      <div class="card card-z-index " style="width: 18rem;">
        <img src="css/images/people/simon.jpg" class="card-img-top rounded-circle" alt="...">
        <div class="card-body">
          <p class="card-text text-center"><span class='fs-1'>Simon</span></p>
          <p class="text-center">"Food is amazing. HONGRY rocks! A++" I have made one of the recipes and it was pretty great!
            They did an astounding job of developing this app. I would recommend to anyone who often feels the crave to cook, 
            who needs practice, and who just wants inspiration.
          </p>
        </div>
      </div>
    </div> 
    </div>
      </div>
</section>

<!--fo0ter-->
<footer class=" bg-black text-white ">
   <div class='container '>
        <div class='row'>
          <div class='col-6'>
    <h2>Stay Connected</h2>
    <p>Sign up for new recipes, updates, and news about HONGRY!</p>
    <img src="css/images/logos/Hongry (1).png" class="foot border border-warning border-5 rounded-circle" alt="...">
    </div>

    <div class='col-6'>
    <h2 id="Contact">Contact Us</h2>
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <button type="submit" class="mt-3 btn btn-primary">Submit</button>
</div>
    </div>
          </div>
        </div>
</footer>

<script src = 'js/homepage.js'></script>
