<body class="login-bg1">

<div class='addrecipe-container mb-4 p-5 login-container d-flex justify-content-center''>
  <h1>Step 1. Add Recipe Name and Description:</h1>
  <form id='addRecipe-form'>
    <input type='text' id='add-recipe-name' placeholder='Recipe Name' />
    <input type='text' id='add-recipe-desc' placeholder='Recipe Description' />
    <input type="text" id='add-recipe-img' placeholder ='Add an Image URL'
  </form>
</div>
<div class='addingredients-container mb-4 p-5 login-container d-flex justify-content-center''>
  <h1>Step 2. Add Ingredients:</h1>
  <form id='addIngredient-form'>
    <input type='text' id='add-ingredient' placeholder='Ingredient Name' /> 
    <input type='text' id='add-quantity' placeholder='Quantity' />
    <input type='text' id='add-unit' placeholder='Unit' />
    
  </form>
    <button id = 'addIngredientbtn'>Add Ingredient </button>
    <button id='submitRecipebtn' type='submit'>Submit Recipe</button>
    <p id = 'recipelist'></p>
</div>
</body>
<script src='js/add-recipe.js' type='text/javascript'></script>

