   <section class="recipebg">
  {{#if loggedIn}}
    <form id='viewRecipe-form' class="pb-5 pt-5 d-flex justify-content-center">
    <input type='text' id='view-recipe' placeholder='Search Recipe'>
    <button class="btn btn-primary" id ="submitSearchbtn" type="submit">Search Recipe</button>
  </form>
  <!--cards-->
<div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each recipes as |recipe|}}
    {{> recipe}}
    {{/each}}
    <script src='js/view-recipe.js' type='text/javascript'></script>
</div>
  

<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must first Log in to View Recipes</a>
{{/if}}
</section>
   <footer class=" bg-black d-flex justify-content-center ">
            <img src="css/images/logos/Hongry (1).png" class="mt-2 mb-2 footerimg border border-warning border-2 rounded-circle" alt="...">
        </footer>
       