/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*nav bar*/
header {
    background-color: black;
    color: white;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
header h1{
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white; 
   
  }
.red{
    color: orange;
}
/*Hero start*/
h2{
    font-family: Dancing, cursive;

}
/*background picture in hero*/
.hero{
    position: absolute;
    background-image: url("../images/backgrounds/spices.jpg");
    background-color: green; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
height: 100%;
}
 


header a {
    text-decoration: none;
    color: white; 
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: rgb(112, 202, 84);
    color: black;
    border-radius: 15px;
    text-shadow: none;
  }

  img {
    display: block;
    margin: 0 auto;
    
    
  }
/*logo*/
.hero .logo {
    border-radius: 50%;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    border: 10px solid white;
}

/*Welcome*/
.hero .welcome {
    font-family: 'Dancing Script', cursive;
    background-color: white; 
    color: black; 
    text-align: center;
    margin: auto;
width: 52%;
    border: 3px solid black;
    padding: 10px;
    font-weight: bold;
    font-size: 50px;
}
